In [1]:
import pandas as pd
import os

In [2]:
info = 'names'
path_info = ''.join((os.getcwd(), '\\', info, '\\'))
info_list = os.listdir(path=path_info)

In [9]:
info_for_years = [1915, 1940, 1965, 1990, 2017]

def count_dynamics(info_for_years):
    file_list = [f'yob{year}.txt' for year in info_for_years]
    df_years = (pd.read_csv(path_info + f, names=['name', 'sex', 'quantity']).assign(year=f[3:7]) 
                        for f in info_list if f in file_list)
    df_names = pd.concat(df_years)
    res = df_names.sort_values(['year']).groupby(['sex', 'year']).sum()
    return res

count_dynamics(info_for_years)

          quantity
sex year
F   1915    983867
    1940   1143393
    1965   1765073
    1990   1898046
    2017   1711811
M   1915    848594
    1940   1158985
    1965   1860956
    1990   2052946
    2017   1834490