In [7]:
import pandas as pd
import os

In [8]:
info = 'names'
path_info = ''.join((os.getcwd(), '\\', info, '\\'))
info_list = os.listdir(path=path_info)

In [12]:
info_for_years = [1915, 1940, 1965, 1990, 2017]

def count_top3(info_for_years):
    file_list = [f'yob{year}.txt' for year in info_for_years]
    df_years = (pd.read_csv(path_info + f, names=['name', 'sex', 'quantity']) 
                    for f in info_list if f in file_list)
    df_names = pd.concat(df_years)
    res = df_names.groupby(['name', 'sex']).sum().sort_values(['quantity'], ascending=False).head(3)
    return res

count_top3(info_for_years)

            quantity
name   sex
John   M      212412
James  M      210529
Robert M      187445